{% extends "Setup/Academic/index.html.twig" %}
{% block page_header %} AcademicSession  {% endblock %}
{% block page_sub_header %} Add AcademicSession {% endblock %}
{% block breadcurm_nav_list %}
    {{ render_header_list(path('vx_setup_academic_session'), 'Academic Session List', ' fas fa-list-ul') }}
{% endblock %}
{% block content_academic %}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div  class="text"><lable>Add Academic Session</lable></div>
                    <hr>
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.code) }}
                    {{ render_save_button() }}
                    {{ form_end(form) }}
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('.modalTest').fnAjaxModal();


    </script>

{% endblock %}